@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1em;
}

#top #search, h1 {
  text-align: left;
  margin: 0 auto;
  line-height: 2.8;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

@theme {
  --color-sage: #593c39;
  --color-offwhite: #ffe0b2;
  --color-coffee: #733326;
  --color-hunter: #3d2b1f;
}

@layer components {

  }


